$footer-height: 80px
  
html
  position: relative
  min-height: 100%

body
  font-family: 'Roboto', sans-serif

pre
  font-family: 'Roboto', sans-serif

#flashes

nav.navbar
  
pre
  white-space: pre-wrap

footer.footer
  position: absolute
  bottom: 0
  width: 100%
  height: $footer-height
  padding-top: 15px
  background-color: #f5f5f5
