html
  position: relative
  min-height: 100%

body
  font-family: 'Roboto', sans-serif

pre
  font-family: 'Roboto', sans-serif

#flashes
  position: absolute

nav.navbar
  margin-bottom: 4px
  
pre
  white-space: pre-wrap
