html
  position: relative
  min-height: 100%
  padding-bottom: $footer-height

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-family: 'Josefin Sans', sans-serif

body
  font-family: 'Roboto', sans-serif

pre
  font-family: 'Roboto', sans-serif

#flashes

nav.navbar
  
pre
  white-space: pre-wrap

footer.footer
  position: absolute
  bottom: 0
  width: 100%
  height: $footer-height
  padding-top: 15px

.hr
  border-bottom: 1px solid #ccc

.blog
  font-family: 'Georgia', sans-serif
  p
    font-size: 1.25rem
    &.lead
      font-size: 1.5rem

.hero
  padding: 6rem 0
  background-image: image-url("milky_stars.jpg")
  background-size: cover
  background-position: center 0%
  margin-bottom: 4rem
  &.about
    background-image: image-url("milky_way.jpg")
  .bg-opacity
    background-color: rgba(0, 0, 0, .3)

.btn
  &.btn-tiny
    @extend .btn-sm
    line-height: 1
