.playlist-item
  position: relative
  padding-left: 100px
  min-height: 85px
  .infobar
    position: absolute
    left: 10px
  .thumb
    img
      width: 80px
  .published_at
    font-style: italic

@include media-breakpoint-up(md)
  #playlist-wrapper
    overflow-y: scroll
    max-height: calc(100vh - #{$header-height} - #{$footer-height})

.playlist-card
  margin-left: -10px
  margin-right: -10px
  .count
    position: absolute
    right: 0.5rem
    top: 0.5rem
    font-size: 0.75rem
