.thumb= image_tag playlist_item.snippet.thumbnails.medium.url
.position= playlist_item.snippet.position
.title= playlist_item.snippet.title
.title= playlist_item.snippet.description
.video_id= playlist_item.content_details.video_id
.created_at= playlist_item.content_details.video_published_at
hr /
